@import "../styles.scss";

header {
  // background: saddlebrown;
  width: 100%;
  padding: 16px 0 6px;
  display: flex;
}

.input-search {
  width: 327px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px;
  padding: 0 30px;
  background-color: #eaeaeb;
  border-radius: 10px;
  border: none;
  &:focus {
    outline: none;
  }
}

.search-icon {
  width: 14px;
  margin-left: 15px;
  position: absolute;
  align-self: center;
  cursor: pointer;
}

.search-live {
  width: 20px;
  align-self: center;
  margin: 0 10px;
  cursor: pointer;
}

.search-tabs {
  width: 100%;
  overflow-x: hidden;
  ul {
    display: flex;
    list-style: none;
    margin-left: 8px;
  }
  li {
    margin-right: 5px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(60, 60, 67, 0.18);
  }
  a {
    text-decoration: none;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 11px;
    color: #262626;
  }
  .tab-icon {
    width: 13px;
    margin-right: 5px;
  }
}

