@import "../styles.scss";

header {
  // background: saddlebrown;
  width: 100%;
  padding: 10px 0 6px;
  display: flex;
}

.input-search {
  width: 327px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px;
  padding: 0 30px;
  background-color: #eaeaeb;
  border: 0.5px solid #0000001a;
  border-radius: 10px;

  &:focus {
    outline: none;
  }
}
.search-icon {
  width: 14px;
  margin-left: 15px;
  position: absolute;
  align-self: center;
  cursor: pointer;
}
.search-live {
  width: 20px;
  align-self: center;
  margin: 0 10px;
  cursor: pointer;
}
